<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome to my portfolio</title>
    <link rel="stylesheet" href="/static/css/portfolio.css">
</head>
<body>
<div class="main">
<h1>See my recent projects</h1>
<p>Fakebook: </p>
<a href="https://gist.github.com/Doris374/3df2d571bdf5497405081ce916366a1f">link to Fakebook on GitHub</a>
<p>Unit converter: </p>
<a href="https://gist.github.com/Doris374/83ccd3bdc60a00377f1412c335f0db3c">link to Unit converter on GitHub</a>
</div>
</body>
</html>